<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.matthewcmckenna.owl.nano">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".android.NanoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".features.video.PlayerActivity"
            android:immersive="true"
            android:screenOrientation="user"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
